###  Lire un fichier CSV avec Pandas

In [2]:
import pandas as pd

In [3]:
file ="C:/Users/abdou/OneDrive/Bureau/Formation data science avec python/foods_info.csv"
foods_info=pd.read_csv(file)

In [4]:
print(type(foods_info))

<class 'pandas.core.frame.DataFrame'>

### Exploration du DataFrame

In [5]:
foods_info.head()
#affiche par defaut que les 5 premieres lignes

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0

In [6]:
foods_info.head(2)
#precision du nombre de lignes Ã  afficher

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0

In [7]:
print(foods_info.head())

   NDB_No                 Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
0    1001          BUTTER WITH SALT      15.87         717         0.85
1    1002  BUTTER WHIPPED WITH SALT      15.87         717         0.85
2    1003      BUTTER OIL ANHYDROUS       0.24         876         0.28
3    1004               CHEESE BLUE      42.41         353        21.40
4    1005              CHEESE BRICK      41.11         371        23.24

   Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  ...  \
0          81.11     2.11            0.06           0.0           0.06  ...
1          81.11     2.11            0.06           0.0           0.06  ...
2          99.48     0.00            0.00           0.0           0.00  ...
3          28.74     5.11            2.34           0.0           0.50  ...
4          29.68     3.18            2.79           0.0           0.51  ...

   Vit_A_IU  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  Vit_K_(mcg)  \
0    2499.0      684.0        2.32        1.5      60.0          7.0
1    2499.0      684.0        2.32        1.5      60.0          7.0
2    3069.0      840.0        2.80        1.8      73.0          8.6
3     721.0      198.0        0.25        0.5      21.0          2.4
4    1080.0      292.0        0.26        0.5      22.0          2.5

   FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
0      51.368       21.021        3.043           215.0
1      50.489       23.426        3.012           219.0
2      61.924       28.732        3.694           256.0
3      18.669        7.778        0.800            75.0
4      18.764        8.598        0.784            94.0

[5 rows x 36 columns]

In [8]:
#extraction du nom des colonnes :
column_foods = foods_info.columns
print(column_foods)
print("On possede",len(column_foods),"colonnes") #36 colonnes

Index(['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)',
       'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)',
       'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)',
       'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)',
       'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)',
       'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)',
       'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg',
       'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)',
       'Cholestrl_(mg)'],
      dtype='object')
On possede 36 colonnes

In [9]:
#dimension du data frame 
print(foods_info.shape)

(8618, 36)

### SÃ©lectionner une ligne

In [10]:
#loc[]
#retourne un objet series

In [11]:
foods_info.loc[0]
#loc ignore automatiquement le header

NDB_No                         1001
Shrt_Desc          BUTTER WITH SALT
Water_(g)                     15.87
Energ_Kcal                      717
Protein_(g)                    0.85
Lipid_Tot_(g)                 81.11
Ash_(g)                        2.11
Carbohydrt_(g)                 0.06
Fiber_TD_(g)                      0
Sugar_Tot_(g)                  0.06
Calcium_(mg)                     24
Iron_(mg)                      0.02
Magnesium_(mg)                    2
Phosphorus_(mg)                  24
Potassium_(mg)                   24
Sodium_(mg)                     643
Zinc_(mg)                      0.09
Copper_(mg)                       0
Manganese_(mg)                    0
Selenium_(mcg)                    1
Vit_C_(mg)                        0
Thiamin_(mg)                  0.005
Riboflavin_(mg)               0.034
Niacin_(mg)                   0.042
Vit_B6_(mg)                   0.003
Vit_B12_(mcg)                  0.17
Vit_A_IU                       2499
Vit_A_RAE                       684
Vit_E_(mg)                     2.32
Vit_D_mcg                       1.5
Vit_D_IU                         60
Vit_K_(mcg)                       7
FA_Sat_(g)                   51.368
FA_Mono_(g)                  21.021
FA_Poly_(g)                   3.043
Cholestrl_(mg)                  215
Name: 0, dtype: object

###  Les types de donnÃ©es Pandas

In [12]:
#Objet : equivalent de string et list python

In [13]:
#datetime

In [14]:
#int, flo ,bool

In [15]:
#dataframe.dtype : retourne chaque colonne et son type associÃ©
print(foods_info.dtypes)

NDB_No               int64
Shrt_Desc           object
Water_(g)          float64
Energ_Kcal           int64
Protein_(g)        float64
Lipid_Tot_(g)      float64
Ash_(g)            float64
Carbohydrt_(g)     float64
Fiber_TD_(g)       float64
Sugar_Tot_(g)      float64
Calcium_(mg)       float64
Iron_(mg)          float64
Magnesium_(mg)     float64
Phosphorus_(mg)    float64
Potassium_(mg)     float64
Sodium_(mg)        float64
Zinc_(mg)          float64
Copper_(mg)        float64
Manganese_(mg)     float64
Selenium_(mcg)     float64
Vit_C_(mg)         float64
Thiamin_(mg)       float64
Riboflavin_(mg)    float64
Niacin_(mg)        float64
Vit_B6_(mg)        float64
Vit_B12_(mcg)      float64
Vit_A_IU           float64
Vit_A_RAE          float64
Vit_E_(mg)         float64
Vit_D_mcg          float64
Vit_D_IU           float64
Vit_K_(mcg)        float64
FA_Sat_(g)         float64
FA_Mono_(g)        float64
FA_Poly_(g)        float64
Cholestrl_(mg)     float64
dtype: object

 ### SÃ©lectionner plusieurs lignes

In [16]:
# Data frame contenant les lignes d'index 3,4,5 et 6
foods_info.loc[3:6]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0
6,1007,CHEESE CAMEMBERT,51.80,300,19.80,24.26,3.68,0.46,0.0,0.46,...,820.0,241.0,0.21,0.4,18.0,2.0,15.259,7.023,0.724,72.0

In [17]:
# Data frame contenant les lignes d'index 2,5 et 10

In [18]:
#methode 1 
two_five_ten= [2,5,10]
foods_info.loc[two_five_ten]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0
10,1011,CHEESE COLBY,38.20,394,23.76,32.11,3.36,2.57,0.0,0.52,...,994.0,264.0,0.28,0.6,24.0,2.7,20.218,9.280,0.953,95.0

In [19]:
#methode 2 
foods_info.loc[[2,5,10]]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0
10,1011,CHEESE COLBY,38.20,394,23.76,32.11,3.36,2.57,0.0,0.52,...,994.0,264.0,0.28,0.6,24.0,2.7,20.218,9.280,0.953,95.0

Selectionner les 5 dernieres lignes :

In [20]:
num_rows = foods_info.shape[0]
foods_info.loc[num_rows-5:num_rows-1]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.0,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.0,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.2,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.0,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.0,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

In [21]:
foods_info.loc[foods_info.shape[0]-5:foods_info.shape[0]-1]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.0,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.0,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.2,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.0,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.0,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

### SÃ©lectionner une colonne plutÃ´t qu'une ligne

In [22]:
#object Series represantant la colonne "NDB_No"
NDB_col = foods_info['NDB_No']
print(NDB_col)

0        1001
1        1002
2        1003
3        1004
4        1005
        ...
8613    83110
8614    90240
8615    90480
8616    90560
8617    93600
Name: NDB_No, Length: 8618, dtype: int64

In [23]:
# 2e methode en faisant intervenir une variable pour le nom de la colonne

In [24]:
protein = foods_info['Protein_(g)']

In [25]:
cholesterol = foods_info['Cholestrl_(mg)']

### SÃ©lectionner plusieurs colonnes

In [26]:
zinc_copper = foods_info[['Zinc_(mg)','Copper_(mg)']]
zinc_copper

      Zinc_(mg)  Copper_(mg)
0          0.09        0.000
1          0.05        0.016
2          0.01        0.001
3          2.66        0.040
4          2.60        0.024
...         ...          ...
8613       1.10        0.100
8614       1.55        0.033
8615       0.19        0.020
8616       1.00        0.400
8617       1.00        0.250

[8618 rows x 2 columns]

In [27]:
foods_info[['Shrt_Desc','Selenium_(mcg)','Thiamin_(mg)']]

                       Shrt_Desc  Selenium_(mcg)  Thiamin_(mg)
0               BUTTER WITH SALT             1.0         0.005
1       BUTTER WHIPPED WITH SALT             1.0         0.005
2           BUTTER OIL ANHYDROUS             0.0         0.001
3                    CHEESE BLUE            14.5         0.029
4                   CHEESE BRICK            14.5         0.014
...                          ...             ...           ...
8613             MACKEREL SALTED            73.4         0.020
8614  SCALLOP (BAY&SEA) CKD STMD            21.7         0.012
8615                  SYRUP CANE             0.7         0.130
8616                   SNAIL RAW            27.4         0.010
8617            TURTLE GREEN RAW            16.8         0.120

[8618 rows x 3 columns]

### Cas pratique

 Selectionner et afficher seulement les colonnes qui utilisent comme unitÃ© de mesure les grammes :

In [28]:
columns = foods_info.columns.tolist()

In [29]:
gram_columns = []
for c in columns:
    if c.endswith("(g)"):
        gram_columns.append(c)
        
gram_df = foods_info[gram_columns]

In [30]:
gram_df

,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g)
0,15.87,0.85,81.11,2.11,0.06,0.0,0.06,51.368,21.021,3.043
1,15.87,0.85,81.11,2.11,0.06,0.0,0.06,50.489,23.426,3.012
2,0.24,0.28,99.48,0.00,0.00,0.0,0.00,61.924,28.732,3.694
3,42.41,21.40,28.74,5.11,2.34,0.0,0.50,18.669,7.778,0.800
4,41.11,23.24,29.68,3.18,2.79,0.0,0.51,18.764,8.598,0.784
...,...,...,...,...,...,...,...,...,...,...
8613,43.00,18.50,25.10,13.40,0.00,0.0,0.00,7.148,8.320,6.210
8614,70.25,20.54,0.84,2.97,5.41,0.0,0.00,0.218,0.082,0.222
8615,26.00,0.00,0.00,0.86,73.14,0.0,73.20,0.000,0.000,0.000
8616,79.20,16.10,1.40,1.30,2.00,0.0,0.00,0.361,0.259,0.252
8617,78.50,19.80,0.50,1.20,0.00,0.0,0.00,0.127,0.088,0.170

## Manipulation de donnees avac pandas

In [31]:
#Score = 2 x protein -0.75 x Lipid

In [37]:
col_names = foods_info.columns.tolist()
print(col_names)

['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)', 'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)', 'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)', 'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)', 'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)', 'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)', 'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg', 'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)', 'Cholestrl_(mg)']

In [40]:
foods_info.head(3)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0

### Transformer une colonne

In [41]:
div_1000 = foods_info['Iron_(mg)']/1000

In [42]:
div_1000

0       0.00002
1       0.00016
2       0.00000
3       0.00031
4       0.00043
         ...
8613    0.00140
8614    0.00058
8615    0.00360
8616    0.00350
8617    0.00140
Name: Iron_(mg), Length: 8618, dtype: float64

In [44]:
iron =foods_info['Iron_(mg)']
iron

0       0.02
1       0.16
2       0.00
3       0.31
4       0.43
        ...
8613    1.40
8614    0.58
8615    3.60
8616    3.50
8617    1.40
Name: Iron_(mg), Length: 8618, dtype: float64

In [45]:
#A jouter 100 Ã  chaque valeur dans la colonne et retourne donc un nouvel object Series
add_100 = foods_info['Iron_(mg)']+100

In [46]:
#Soustraire 100 Ã  chaque aleur de la colonne et retourne un object Series
sub_100 = foods_info['Iron_(mg)']-100

In [47]:
#Multiplie chaque valeur de la colonne par 2 
mult_2 = foods_info['Iron_(mg)']*2

### Operations mathematiques entre colonnes

In [48]:
water_energy = foods_info['Water_(g)']*foods_info["Energ_Kcal"]

In [49]:
print(water_energy)

0       11378.79
1       11378.79
2         210.24
3       14970.73
4       15251.81
          ...
8613    13115.00
8614     7797.75
8615     6994.00
8616     7128.00
8617     6986.50
Length: 8618, dtype: float64

In [50]:
grams_prof_protein_per_gram_of_water = foods_info['Protein_(g)']/foods_info['Water_(g)']

In [51]:
miligrams_of_calcium_and_iron = foods_info['Calcium_(mg)']+foods_info['Iron_(mg)']

In [52]:
print(grams_prof_protein_per_gram_of_water)
print(miligrams_of_calcium_and_iron)

0       0.053560
1       0.053560
2       1.166667
3       0.504598
4       0.565313
          ...
8613    0.430233
8614    0.292384
8615    0.000000
8616    0.203283
8617    0.252229
Length: 8618, dtype: float64
0        24.02
1        24.16
2         4.00
3       528.31
4       674.43
         ...
8613     67.40
8614     10.58
8615     16.60
8616     13.50
8617    119.40
Length: 8618, dtype: float64

### Creer un indice nutritionnel

Score = 2 x protein -0.75 x Lipid

In [53]:
Score = 2* foods_info['Protein_(g)']- 0.75* foods_info['Lipid_Tot_(g)']

In [54]:
print(Score)

0      -59.1325
1      -59.1325
2      -74.0500
3       21.2450
4       24.2200
         ...
8613    18.1750
8614    40.4500
8615     0.0000
8616    31.1500
8617    39.2250
Length: 8618, dtype: float64

### Normaliser des colonnes

In [55]:
# diviser par la valeur max de la colonne

In [58]:
#valeur max de colonne "Energ_Kcal"
max_calories = foods_info['Energ_Kcal'].max()
max_calories

902

In [60]:
normalized_calories = foods_info['Energ_Kcal']/foods_info['Energ_Kcal'].max()
print(normalized_calories)

0       0.794900
1       0.794900
2       0.971175
3       0.391353
4       0.411308
          ...
8613    0.338137
8614    0.123060
8615    0.298226
8616    0.099778
8617    0.098670
Name: Energ_Kcal, Length: 8618, dtype: float64

In [68]:
normalized_prot = foods_info['Protein_(g)']/foods_info['Protein_(g)'].max()
normalized_fat = foods_info['Lipid_Tot_(g)']/foods_info['Lipid_Tot_(g)'].max()
print(normalized_lipd)
print(normalized_prot)

0       0.8111
1       0.8111
2       0.9948
3       0.2874
4       0.2968
         ...
8613    0.2510
8614    0.0084
8615    0.0000
8616    0.0140
8617    0.0050
Name: Lipid_Tot_(g), Length: 8618, dtype: float64
0       0.009624
1       0.009624
2       0.003170
3       0.242301
4       0.263134
          ...
8613    0.209466
8614    0.232563
8615    0.000000
8616    0.182292
8617    0.224185
Name: Protein_(g), Length: 8618, dtype: float64

### Creer une nouvelle colonne

In [65]:
iron_grams = foods_info['Iron_(mg)']*1000
foods_info['Iron_(g)'] = iron_grams

In [66]:
foods_info

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Iron_(g)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0,20.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0,160.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0,0.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0,310.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0,430.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.00,...,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0,1400.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.00,...,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0,580.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.20,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,3600.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.00,...,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0,3500.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.00,...,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0,1400.0

In [69]:
foods_info['normalized_protein'] = normalized_prot
foods_info['normalized_Fat'] = normalized_fat

In [79]:
foods_info.head(5)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Iron_(g),normalized_protein,normalized_Fat,Norm_Nutr_Index
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,60.0,7.0,51.368,21.021,3.043,215.0,20.0,0.009624,0.8111,-0.589077
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,60.0,7.0,50.489,23.426,3.012,219.0,160.0,0.009624,0.8111,-0.589077
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,73.0,8.6,61.924,28.732,3.694,256.0,0.0,0.003170,0.9948,-0.739759
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,21.0,2.4,18.669,7.778,0.800,75.0,310.0,0.242301,0.2874,0.269051
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,22.0,2.5,18.764,8.598,0.784,94.0,430.0,0.263134,0.2968,0.303668

### Creer un indice nutritionnel normalisÃ©

Score = 2 x Normalized_Protein - 075 x Normalized_Fat

In [75]:
foods_info['Norm_Nutr_Index'] = 2*foods_info["normalized_protein"]-0.75*foods_info['normalized_Fat']

In [76]:
foods_info['Norm_Nutr_Index']

0      -0.589077
1      -0.589077
2      -0.739759
3       0.269051
4       0.303668
          ...
8613    0.230681
8614    0.458827
8615    0.000000
8616    0.354083
8617    0.444620
Name: Norm_Nutr_Index, Length: 8618, dtype: float64

In [78]:
del foods_info['Norm_Nutr_index']

### Trier un DataFrame

In [80]:
# sort_values()

In [82]:
foods_info.sort_values("Sodium_(mg)")
#On trie on fonction de Sodium_(mg)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Iron_(g),normalized_protein,normalized_Fat,Norm_Nutr_Index
760,4666,SHORTENING INDUSTRIAL SOY (PARTIALLY HYDR )&CO...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,43.0,17.416,40.824,36.038,0.0,0.0,0.000000,1.0000,-0.750000
758,4664,OIL INDUSTRIAL SOY (PARTHYDR ) PALM ICINGS & ...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,NaN,24.7,28.421,59.715,7.095,0.0,0.0,0.000000,1.0000,-0.750000
405,3168,BABYFOOD JUC APPL&PEACH,89.00,43,0.20,0.10,0.30,10.50,0.1,9.59,...,0.0,0.5,0.018,0.002,0.031,0.0,560.0,0.002264,0.0010,0.003779
761,4667,SHORTENING INDUS SOY (PART HYDR ) FOR BAKING &...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,NaN,43.0,18.788,71.023,5.400,0.0,0.0,0.000000,1.0000,-0.750000
2269,9111,GRAPEFRUIT RAW PINK&RED&WHITE ALL AREAS,90.89,32,0.63,0.10,0.31,8.08,1.1,6.98,...,0.0,0.0,0.014,0.013,0.024,0.0,90.0,0.007133,0.0010,0.013516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8184,35092,WILLOW LEAVES IN OIL (ALASKA NATIVE),28.00,592,2.60,61.00,0.30,8.10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1300.0,0.029438,0.6100,-0.398623
8185,35093,WILLOW YOUNG LEAVES CHOPD (ALASKA NATIVE),68.70,122,6.10,1.60,2.90,20.70,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2600.0,0.069067,0.0160,0.126134
8195,35139,SQUASH INDIAN CKD BLD (NAVAJO),96.21,16,0.31,0.15,0.10,3.22,1.5,2.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.003510,0.0015,0.005895
8251,35199,PRICKLY PEARS BRLD (NORTHERN PLAINS INDIANS),75.83,91,0.39,0.31,1.90,21.57,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.004416,0.0031,0.006507
8267,35231,SEA LION STELLER FAT (ALASKA NATIVE),4.70,850,0.90,94.00,0.20,0.00,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,95.0,NaN,0.010190,0.9400,-0.684620

In [84]:
#Trie le data frame et remplace l'ancien data frame
foods_info.sort_values("Sodium_(mg)",inplace=True)

In [86]:
foods_info.sort_values("Sodium_(mg)",inplace=True,ascending=False)
#On trie de faÃ§on descendante

Trier en foction du facteur nutritioniste de faÃ§on descendante

In [90]:
foods_info.sort_values("Norm_Nutr_Index",inplace=True,ascending=False)

In [91]:
foods_info

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Iron_(g),normalized_protein,normalized_Fat,Norm_Nutr_Index
4991,16423,SOY PROT ISOLATE K TYPE CRUDE PROT BASIS,4.98,321,88.32,0.53,3.58,2.59,2.0,0.0,...,0.0,0.0,0.066,0.101,0.258,0.0,14500.0,1.000000,0.0053,1.996025
6155,19177,GELATINS DRY PDR UNSWTND,13.00,335,85.60,0.10,1.30,0.00,0.0,0.0,...,0.0,0.0,0.070,0.060,0.010,0.0,1110.0,0.969203,0.0010,1.937656
216,1258,EGG WHITE DRIED STABILIZED GLUCOSE RED,6.53,362,84.63,0.48,3.63,4.72,0.0,0.0,...,0.0,0.0,0.147,0.173,0.070,20.0,230.0,0.958220,0.0048,1.912840
124,1136,EGG WHITE DRIED PDR STABILIZED GLUCOSE RED,8.54,376,82.40,0.04,4.55,4.47,0.0,0.0,...,0.0,0.0,0.000,0.000,0.000,0.0,240.0,0.932971,0.0004,1.865642
8152,35055,SEAL BEARDED (OOGRUK) MEAT DRIED (ALASKA NATIVE),11.60,351,82.60,2.30,3.50,0.00,0.0,0.0,...,NaN,NaN,0.600,1.330,0.370,NaN,49600.0,0.935236,0.0230,1.853221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,4511,OIL SAFFLOWER SALAD OR COOKING HI OLEIC,0.00,884,0.00,100.00,0.00,0.00,0.0,0.0,...,0.0,7.1,7.541,75.221,12.820,0.0,0.0,0.000000,1.0000,-0.750000
737,4642,OIL INDUSTRIAL MID-OLEIC SUNFLOWER,0.00,884,0.00,100.00,0.00,0.00,0.0,0.0,...,NaN,5.4,9.009,57.334,28.962,0.0,30.0,0.000000,1.0000,-0.750000
790,4701,OIL INDUSTRIAL SOY FULLY HYDR,0.00,884,0.00,100.00,0.00,0.00,0.0,0.0,...,0.0,183.9,93.966,1.341,0.383,0.0,50.0,0.000000,1.0000,-0.750000
791,4702,OIL INDUSTRIAL CTTNSD FULLY HYDR,0.00,884,0.00,100.00,0.00,0.00,0.0,0.0,...,0.0,24.7,93.608,1.529,0.587,0.0,0.0,0.000000,1.0000,-0.750000
757,4663,OIL INDUSTRIAL PALM KERNEL (HYDROGENATED) FILL...,0.08,884,0.00,100.00,0.01,0.00,0.0,0.0,...,NaN,24.7,88.209,5.705,0.000,0.0,150.0,0.000000,1.0000,-0.750000